<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">


<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html:{class: "login100-form validate-form"}) do |f| %>
  <%= f.error_notification %>
  <span class="login100-form-title p-b-55">
    Cadastre-se
  </span>
    <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
      <%= f.input :name, required: true, autofocus: true, placeholder: 'Nome', label: false, input_html: { autocomplete: "name", class: "input100" }, wrapper:false%>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <span class="lnr lnr-user"></span>
    </span>
</div>
  <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
      <%= f.input :email, required: true, label: false, placeholder: 'Email', input_html: {:class => "input100" }, wrapper:false %>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
          <span class="lnr lnr-mail"></span>
      </span>
</div>
<div class="wrap-input100 validate-input m-b-16">
    <%= f.input :telephone, required: false, label: false, placeholder: 'Telefone', autofocus: true , input_html: { autocomplete: "telephone", class: "input100" }, wrapper: false%>
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <span class="lnr lnr-phone"></span>
  </span>
</div>

<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
    <%= f.input :password, required: true, label:false, placeholder: 'Senha', input_html: {:class => "input100" }, wrapper:false %>
      <span class="focus-input100"> </span>
      <span class="symbol-input100">
    <span class="lnr lnr-lock"></span>
  </span>
</div>

<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
    <%= f.input :password_confirmation, required: true, label:false, placeholder: 'Confirme a senha', input_html: {:class => "input100" }, wrapper:false %>
      <span class="focus-input100"> </span>
      <span class="symbol-input100">
    <span class="lnr lnr-lock"></span>
  </span>
</div>

<div class="container-login100-form-btn p-t-25">
  <%= f.button :submit, "Cadastrar", class: "login100-form-btn" %>
</div>
<% end %>

<div class="container">
  <div class="row">
    <div class="text-center col p-t-45 p-b-4">
      Já é membro? Faça o
        <span class="signup_login"><%= render "devise/shared/links" %></span>
    </div>
  </div>
</div>

  </div>
