<!DOCTYPE html>
<html>
  <head>
    <title>Sincov</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag asset_path('icon-google.png') %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar" data-offset="50">

      <%= render "layouts/navbar" %>

      <%= yield %>

      <% unless user_signed_in? %>
      <%= render partial: 'users/registrations/signup_modal' %>
      <%= render partial: 'users/sessions/new' %>
    <% end %>
    </body>
  </html>
