<%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html:{class: "login100-form validate-form"}, id: "new_user", validate: true, remote: true  do |f| %>
<div id="signup_error">
</div>
<%= puts("NOOOME")
  puts(controller_name) %>

    <div class="wrap-input100 validate-input m-b-7" >
      <%= f.input :name, required: true, autofocus: true, placeholder: 'Nome', label: false, input_html: { autocomplete: "name", class: "input100" }, wrapper:false, validate: { presence: true } %>
      <span class="focus-input100"></span>
      <span class="symbol-input100">
        <span class="lnr lnr-user"></span>
    </span>
  </div>
  <div class="wrap-input100 validate-input m-b-7" id = "email_input_div">
      <%= f.input :email, required: true, label: false, placeholder: 'Email', input_html: {:class => "input100", id: "user_email" }, wrapper:false, validate: true %>
      <span class="focus-input100"></span>
      <span class ="symbol-input100">
          <span class="lnr lnr-envelope"></span>
      </span>
      <div id="input_email_error"></div>
</div>
<div class="wrap-input100 validate-input m-b-7">
    <%= f.input :telephone, required: false, label: false, placeholder: 'Telefone', autofocus: true , input_html: { autocomplete: "telephone", class: "input100" }, wrapper: false, validate: true%>
    <span class="focus-input100"></span>
    <span class="symbol-input100">
      <span class="lnr lnr-phone"></span>
  </span>
</div>

<div class="wrap-input100 validate-input m-b-7" data-validate = "Password is required">
    <%= f.input :password, required: true, label:false, placeholder: 'Senha', input_html: {:class => "input100" }, wrapper:false, validate: true %>
      <span class="focus-input100"> </span>
      <span class="symbol-input100">
    <span class="lnr lnr-lock"></span>
  </span>
</div>

<div class="wrap-input100 validate-input m-b-7" data-validate = "Password is required">
    <%= f.input :password_confirmation, required: true, label:false, placeholder: 'Confirme a senha', input_html: {:class => "input100" }, wrapper:false, validate: true %>
      <span class="focus-input100"> </span>
      <span class="symbol-input100">
    <span class="lnr lnr-lock"></span>
  </span>
</div>

<div class="container-login100-form-btn p-t-7">
  <%= f.button :submit, "Cadastrar", class: "login100-form-btn", id: "signup_submit" %>
</div>
<% end %>

<div class="text-center w-full p-t-7 p-b-7">
  <span class="txt1">
    Ou logue-se com
  </span>
</div>

<div class="container">
<div class="row">
<a href="#" class="btn-face m-b-10 col">
  <i class="fa fa-facebook-official">
  </i>
  Facebook
</a>

<a href="#" class="btn-google m-b-10 col">
  <%= image_tag("icon-google.png", :alt=> "GOOGLE") %>
  Google
</a>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="text-center col p-t-7 p-b-4">
      Já é membro? Faça o
      <%= link_to  '#', id: "signin_in_register",'data-dismiss' => 'modal', 'data-toggle' => 'modal', 'data-target' => '#login-modal', remote: true do %>
        <span class="signup-login">Log in</span><br />
        <% end -%>
    </div>
  </div>
</div>
